name: Watch for new Github Action Runner versions

concurrency:
  group: watcher
  cancel-in-progress: true

on:
  workflow_dispatch:
  schedule:
    - cron: '30 5 * * *'

jobs:
  watch:
    name: Watcher
    runs-on: ubuntu-latest
    outputs:
      missing_tags: ${{ steps.missing_tags.outputs.tags }}
    steps:
      - uses: actions/checkout@v6
      - name: Gather Missing Tags
        id: missing_tags
        shell: bash
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          set +e
          RUNNER_VERSIONS=$(gh api /repos/actions/runner/releases --paginate | jq -r '.[] | select(.created_at > "2019-12-19") .name' | sed 's/^v//g' | sort -V)
          EXISTING_TAGS=$(git ls-remote --tags origin | awk -F'/' '{print $3}' | sed 's/\^{}//g' | sort -V)
          MISSING_TAGS=$(grep -vxf <(echo -e "$EXISTING_TAGS") <(echo -e "$RUNNER_VERSIONS") | jq -R | jq --slurp | jq -rc)
          set -e

          echo "Runner Versions: $RUNNER_VERSIONS" | tr "\n" " "
          echo ""
          echo "Existing Tags: $EXISTING_TAGS" | tr "\n" " "
          echo ""
          echo "Missing Tags: $MISSING_TAGS" | tr "\n" " "

          echo "tags=$MISSING_TAGS" >> "$GITHUB_OUTPUT"
          
  release:
    needs: [watch]
    name: Release
    if: needs.watch.outputs.missing_tags != '[]'
    permissions: write-all
    strategy:
      fail-fast: false
      matrix:
        tag: ${{ fromJSON(needs.watch.outputs.missing_tags) }}
    uses: ./.github/workflows/release.yaml
    with:
      version: ${{ matrix.tag }}
    secrets:
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}